<div class="wrapper_container">
    <footer class="wrapper_content">
        <div>
            <p>Copyright © John Roy {{ 'now' | date: "%Y" }}</p>
            <p><a href="mailto:jkairoy@gmail.com">jkairoy@gmail.com</a></p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/john-r-888b49131/" class="icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/jkairoy" class="icon"><i class="fab fa-github-square"></i></a>
        </div>
    </footer>
</div>
